@model List<Categoria>



<li class="nav-item dropdown me-4 my-auto">

    <a id="navbarDropdownMenuLink" class="dropdown-toggle text-light text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        @Localizer["Categorias"]
    </a>

    <ul class="dropdown-menu fadein100" aria-labelledby="navbarDropdownMenuLink">

        @foreach (var c in Model)
        {
            if (c.CategoriaPadre is null)
            {
                <li class="dropend">

                    <a class="dropdown-item" href="/c/@c.Nombre">@Localizer[c.Nombre!]</a>

                    <ul class="dropdown-menu dropdown-submenu fadein100">

                        @if (c.SubCategorias != null && c.SubCategorias.Any())
                        {
                            foreach (var subCategoria in c.SubCategorias)
                            {
                                <li>
                                    <a href="/c/@subCategoria.Nombre" class="dropdown-item">@Localizer[subCategoria.Nombre!]</a>
                                </li>
                            }
                        }
                    </ul>

                </li>
            }
        }

    </ul>
</li>


