
<body>
    <div class="container" style="min-height:500px;">
        <div class="mx-auto" style="padding-top:20%;">
            <h1>Thanks for your purchase!</h1>
            <a href="" class="btn btn-primary">Ver Compra</a>
        </div>
    </div>
</body>