
<body>
    <div class="container" style="min-height:500px;">
        <div class="mx-auto" style="padding-top:20%;">
            <h1>@Localizer["Thanks for your purchase!"]</h1>
            <a href="" class="btn btn-primary">@Localizer["Purchase details"]</a>
        </div>
    </div>
</body>