@model ICollection<Sku>

<body class="bg-body-tertiary">

    <section class="container pt-5">
        @if (Model.Any())
        {
            <div class="mx-auto">

                <div class="col-10 mx-auto">
                    <h2>Favoritos</h2>
                    <p>@Model.Count articulos</p>
                </div>
                <ul class="list-unstyled bg-white col-10 mx-auto">
                    @foreach (var s in Model)
                    {
                        <li class="border mx-auto p-2">
                            <div class="d-flex align-items-center ">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    </label>
                                </div>

                                <div class="d-inline ms-5">
                                    <img src="~/Imagenes/Productos/@s.Imagenes!.First().ImagenNombre"
                                         style="height:200px;width:200px;"
                                         class="object-fit-contain " />
                                </div>

                                <div class="d-inline">
                                    <a class="text-black fs-3" href="/@s.Nombre"> @s.Nombre</a>
                                    <p class="card-text text-center">
                                        <strike class="card-text">$@(s.Precio + 100)</strike><b class="card-text text-center"> $@s.Precio</b>
                                    </p>
                                </div>
                            </div>
                        </li>

                    }
                </ul>
            </div>
        }
        else
        {
            <h1>No tiene ningun articulo como favorito</h1>
        }

    </section>
</body>