
@{

    Layout = "EmptyLayout";

}
@model PasswordRecuperacionModel

<body>
    <div class="container pt-5">

        <div class="col-5 mx-auto mt-5 card d-flex flex-column">
            <form method="post" asp-action="CambiarPasswordRecuperacion">
                <input hidden type="text" value="@Model.Codigo" readonly name="Codigo"/>
                <input class="form-control" type="text" name="Password" placeholder="" />
                <span asp-validation-for="Password"></span>
                <input class="form-control" type="text" name="ConfirmPassword" placeholder="" />
                <span asp-validation-for="ConfirmPassword"></span>
                <button class="btn btn-primary mx-auto" type="submit">Confirmar</button>
            </form>
        </div>
    </div>
</body>