@{
    Layout = "BaseLayout";
}

<div class="container d-flex flex-column" style="height:70vh;">

    <div class="row">
        <div class="card col-12 col-sm-7 col-md-6 mx-auto mt-2 pt-3 pb-3 border-0 shadow">
            <i class="bi bi-person-circle mx-auto" style="font-size:50px"></i>
            <h1 class="mx-auto">Iniciar Sesion</h1>
            <div class="card-body">

                <form method="post" asp-controller="Auth" asp-action="Login">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="" name="email">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="" name="pwd">
                        <label for="floatingPassword">Contraseña</label>
                    </div>

                    <div class="d-flex mb-3">

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form2Example31" name="rememberMe" />
                            <label class="form-check-label" for="form2Example31">Mantenerme iniciado en sesion</label>
                        </div>

                        <a href="#" class="ms-auto">Recuperar contraseña</a>
                    </div>

                    <button type="submit" class="btn btn-primary d-flex mx-auto w-100 justify-content-center">Ingresar</button>
                </form>
            </div>

            <div class="d-flex">
                <a href="/register" class="d-flex mx-auto mt-5">No tienes cuenta? Registrate</a>
            </div>
        </div>
    </div>
</div>