@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UYCommerce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UYCommerce.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@

</head>
<body style="min-height:100%;padding:0;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary bg-gradient pt-0 pb-2 shadow-sm border-bottom border-dark-subtle text-light">


            <div class="mx-auto col-12 col-lg-9 d-flex flex-column">

                <div class="collapse navbar-collapse d-block mx-auto col-10" id="navbarSupportedContent">

                    <a class="navbar-brand text-nowrap me-4" href="/">
                        <h1 class="text-light" style="font-family:Impact;">UyCommerce</h1>
                    </a>

                    @*Este es el Search input*@

                    <div class="d-flex col-lg-5 ms-lg-4 me-lg-5">
                        <form class="w-100" role="search" asp-controller="Producto" asp-action="BuscarProductosPorQuery" method="get">
                            <div class="input-group shadow">
                                <input name="query" id="search" class="form-control d-flex py-2" type="search" placeholder="Buscar productos" aria-label="Search">
                                <button class="btn btn-light d-flex border" type="submit"><i class="bi bi-search text-dark fs-5"></i></button>
                            </div>
                        </form>
                    </div>

                    <div class="d-flex ms-lg-5 me-lg-5">

                        @if (Context.Request.HttpContext.User.Identity.IsAuthenticated)
                        {
                            @* Cuenta *@
                            <ul class="navbar-nav d-flex">
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-light d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-person-circle text-white fs-4 m-2"></i> <p class="d-inline m-0 text-nowrap">Mi Cuenta</p>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/Compras">Mis Compras</a></li>
                                        <li><a class="dropdown-item " href="/Favoritos">Favoritos</a></li>
                                        <li><a class="dropdown-item " asp-controller="Auth" asp-action="Logout">Cerrar Sesion</a></li>
                                    </ul>
                                </li>
                            </ul>

                        }
                        else
                        {
                            <a class="my-auto text-nowrap text-light me-4 text-decoration-none" href="/Register">Crea una cuenta</a>

                            <a class="my-auto text-nowrap text-light me-4 text-decoration-none" asp-controller="Auth" asp-action="Login">Iniciar Sesion</a>

                        }

                        @* Carrito *@

                        <ul class="ms-auto ms-lg-0 navbar-nav d-flex" onclick="window.location.href='/checkout'">
                            <li class="nav-item dropdown">
                                <a class="nav-link d-flex flex-nowrap" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <p class="d-inline text-white my-auto d-lg-none">Carrito</p>
                                    <i class="bi bi-cart-fill text-white fs-4 m-2" style="color:white;"></i>
                                    <p class="d-inline fw-bold text-white">@Context.Session.GetString("cartItems")</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="flex-column flex-lg-auto d-flex mx-auto">
                    <button class="navbar-toggler d-block d-lg-none mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#barra" aria-controls="barra" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="list-unstyled navbar-nav d-lg-flex">
                        @await Component.InvokeAsync("Menu")
                        <li>
                            <ul id="barra" class="list-unstyled navbar-nav collapse d-lg-flex">
                                <li class="me-4">
                                    <a class="text-light text-decoration-none" href="#">Contacto</a>
                                </li>
                                <li class="me-4">
                                    <a class="text-light text-decoration-none" href="#">Nosotros</a>
                                </li>
                                <li class="me-4">
                                    <a class="text-light text-decoration-none" href="#">FAQ</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" target=”_blank” href="https://www.linkedin.com/in/octavio-su%C3%A1rez-pamparatto/"><i class="bi bi-linkedin fs-4"></i></a></li>
                <li class="ms-3"><a class="text-body-secondary" target=”_blank” href="https://github.com/octasuarez/UyCommerce"><i class="bi bi-github fs-4"></i></a></li>
                <li class="ms-3"><a class="text-body-secondary" target=”_blank” href="https://instagram.com/octasuarez22"><i class="bi bi-instagram fs-4"></i></a></li>
            </ul>
        </footer>
    </div>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    

    <script type="text/javascript">$(document).ready(function () {
            $("#search").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Producto/Autocomplete",
                        type: "POST",
                        dataType: "json",
                        data: { query: request.term },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    label: item.nombre,
                                    value: item.nombre,
                                    link: item.nombreclave,
                                    img: "/Imagenes/Productos/" + item.img
                                };
                            }))
                        }
                    })
                },
                select: function (event, ui) {

                    console.log(ui.item.img)
                    location.href = "/" + ui.item.link
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li><div><img src='" + item.img + "'><span>" + item.value + "</span></div></li>").appendTo(ul);
            };


        })</script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

