<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UYCommerce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UYCommerce.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<body class="">
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light py-0 box-shadow border-bottom border-top">

            <div class="mx-auto col-9 d-flex">
                <a class="navbar-brand" href="/">
                    <img height="80" src="~/Imagenes/Logos/navlogo.png" />
                </a>
            </div>
        </nav>
    </header>


    <div>
        <main role="main" class="py-5">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="pt-3 border-top" style="background-color:whitesmoke">
        <div class="container pb-5">
            <div class="row">
                <div class="d-flex flex-column">
                    <p class="mx-auto">© 2023 UYCommerce, Inc. Derechos de Autores reservados.</p>
                    <div class="mx-auto">
                        <ul class="list-unstyled d-flex flex-row">
                            <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-instagram"></i></a></li>
                            <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-facebook"></i></a></li>
                            <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="bi bi-twitter-x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

