
<body>

    <div class="container" style="min-height:600px;">

        <div class="" style="text-align:center;padding-top:10%;">
            <h1>:(</h1>
            <h1 class="">
                @Localizer["We are sorry but we couldn't find anything related to your search"]
            </h1>
            <a href="/" style="font-size:30px;"><i class="bi bi-arrow-left-square-fill"></i> @Localizer["Back to the store"]</a>
        </div>

    </div>
</body>
