
<body>

    <div class="container" style="min-height:600px;">

        <div class="" style="text-align:center;padding-top:10%;">
            <h1>:(</h1>
            <h1 class="">
                Lo sentimos pero no se encontró ningun resultado
            </h1>
            <a href="/" style="font-size:30px;"><i class="bi bi-arrow-left-square-fill"></i> Volver a la tienda</a>
        </div>

    </div>
</body>
