@*@{
        Layout = "BaseLayout";
        @model RegisterModel
    }*@


<div class="container">

    <div class="mx-auto">
        <h1>
            Lo sentimos pero no se encontró ningun resultado
        </h1>
    </div>

</div>