html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*    margin-bottom: 0px;
    margin-block-end: 0px;
    margin: 0px;*/
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

#footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    white-space:nowrap;
}

.product-card {
    border-radius: 4px;
    box-shadow: 0 0px 0px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .2s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.2s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.product-card:hover {
/*    transform: scale(1.05);*/
    box-shadow: 0 10px 50px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.ui-autocomplete {
    z-index: 9999999 !important;
}

.ui-menu img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.ui-menu li span {
    font-size: 1em;
    padding: 0 0 10px 10px;
    margin: 0 0 10px 0 !important;
    white-space: nowrap;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

/*magnifying glass*/

.glass {
    width: 200px;
    height: 200px;
    position: absolute;
    cursor: pointer;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
}

.active-img {
    border-style: solid;
    border-width: 3px;
    border-color: lightskyblue;
}

.atributo a:hover{
    cursor:pointer;
    opacity:70%;
}

.filtro {
    cursor: pointer;
    background-color: whitesmoke;
    padding: 5px;
    width: fit-content;
    margin-top:10px;
    font-weight:500;
}

.qty-btn {
/*    border: solid 1px gray;*/
    width: 6em;
    display: block;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    align-content: center;
    height: 40px;
    box-shadow: 0px 0px 5px 1px lightgray;
}

.qty-btn button {
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    width:30px;   
}

.qty-btn input {
    width: 2em;
    text-align: center;
    display:inline-block;
    align-content:center;
    margin-left:10px;
    border: none;
    background-color: white;
    height: 100%;
}

.categorias{
    justify-content:center;
}
.categoria{
    margin-right:20px;
    width:400px;
    height:300px;
    border:solid 1px lightgray;
    border-radius:10px;
}

.categoria img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease 0s, opacity 0.5s;
    border-radius: 10px 10px 0px 0px;
}

.categoria img:hover{
    opacity:60%;
}

/* Tooltip text */
.tooltiptext {
    width: 200px;
    background-color: dodgerblue;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

#pwdRegister .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: dodgerblue transparent transparent transparent;
}

#pwdRegister:focus-within .tooltiptext {
    visibility: visible;
    opacity: 1;
}