@model AgregarSkuModel
@{
    Layout = "AdminLayout";
}


<body style="min-height:500px;padding-right:15%;">
    <div class="container">

        <div class="col-5 mx-auto mb-5">
            <h3 class="mt-3 text-center">Agregar sku para @Model.Producto?.Nombre</h3>
            <img class="my-4 d-flex mx-auto" src="~/Imagenes/Productos/@Model.Producto.Imagenes.First().ImagenNombre" style="height:200px;" />

            <form asp-action="AgregarSku" asp-controller="Producto" method="post" enctype="multipart/form-data">

                <div class="mb-3">
                    <input type="number" class="form-control" value=@Model.ProductoId asp-for="ProductoId" name="ProductoId" readonly="readonly" hidden />
                </div>

                <div class="mb-3">
                    <label class="form-label">Nombre Sku</label>
                    <input type="text" class="form-control" asp-for="Nombre" name="Nombre" placeholder="" />
                    <span class="text-danger" asp-validation-for="Nombre"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Precio</label>
                    <input type="number" class="form-control" asp-for="Precio" name="Precio" placeholder="Precio" />
                    <span class="text-danger" asp-validation-for="Precio"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Stock</label>
                    <input type="number" class="form-control" asp-for="Stock" name="Stock" placeholder="Stock" />
                    <span class="text-danger" asp-validation-for="Stock"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Imagenes</label>
                    <input type="file" class="form-control" asp-for="Imagenes" name="Imagenes" accept="image/*" multiple />
                    <span class="text-danger" asp-validation-for="Imagenes"></span>
                </div>
                @if (Model.Atributos is not null && Model.Atributos.Any())
                {
                    for (int i = 0; i < Model.Atributos.Count; i++)
                    {
                        <h6>Seleccione un @Model.Atributos.ElementAt(i).Nombre</h6>
                        <select class="form-select mb-3" name="AtributoValores">
                            @foreach (var v in Model.Atributos.ElementAt(i).Valores)
                            {
                                <option value="@v.Id">@v.Valor</option>
                            }
                        </select>
                    }
                }

                <button type="submit" class="btn btn-primary d-flex mx-auto">Agregar</button>
            </form>
        </div>

    </div>
</body>